In [1]:
import pyreadstat

In [3]:
df, meta = pyreadstat.read_sav('data.sav')

In [4]:
df

     Course  Gender   Age  Year  Reasons
0       1.0     1.0  25.0   5.0      5.0
1       1.0     2.0  24.0   5.0      5.0
2       1.0     1.0  28.0   5.0      5.0
3       1.0     2.0  22.0   5.0      5.0
4       1.0     2.0  22.0   5.0      5.0
..      ...     ...   ...   ...      ...
197     4.0     1.0  23.0   3.0      2.0
198     4.0     1.0  21.0   2.0      2.0
199     4.0     1.0  21.0   3.0      3.0
200     4.0     2.0  21.0   1.0      1.0
201     4.0     1.0  22.0   2.0      2.0

[202 rows x 5 columns]

In [6]:
df.to_csv("data.csv", sep='\t')

In [10]:
df.loc[df['Year'] == 2019]

     Schools        Age    Year  Reasons
2        2.0  28.000000  2019.0      3.0
5        3.0  29.000000  2019.0      1.0
16       2.0  27.000000  2019.0      2.0
29       3.0  24.000000  2019.0      3.0
33       2.0  18.000000  2019.0      1.0
42       4.0  17.000000  2019.0      3.0
45       2.0  17.000000  2019.0      3.0
56       4.0  20.000000  2019.0      2.0
69       3.0  23.000000  2019.0      4.0
73       4.0  25.000000  2019.0      4.0
81       3.0  18.000000  2019.0      2.0
84       3.0  27.000000  2019.0      2.0
95       3.0  28.000000  2019.0      3.0
108      3.0  21.000000  2019.0      3.0
112      4.0  18.000000  2019.0      4.0
121      2.0  26.000000  2019.0      1.0
124      3.0  19.000000  2019.0      2.0
135      2.0  20.000000  2019.0      1.0
148      2.0  22.000000  2019.0      2.0
152      1.0  18.000000  2019.0      1.0
161      3.0  24.000000  2019.0      2.0
165      4.0  28.000000  2019.0      2.0
172      2.0  18.000000  2019.0      2.0
175      1.0  19.000000  2019.0      2.0
186      3.0  19.000000  2019.0      1.0
199      2.0  21.000000  2019.0      3.0
202      3.0  18.000000  2019.0      3.0
205      3.0  20.000000  2019.0      3.0
216      1.0  22.000000  2019.0      2.0
229      2.0  26.000000  2019.0      3.0
232      3.0  27.000000  2019.0      2.0
235      2.0  26.000000  2019.0      2.0
246      4.0  20.000000  2019.0      3.0
259      4.0  25.000000  2019.0      2.0
263      3.0  20.000000  2019.0      2.0
271      3.0  18.000000  2019.0      2.0
274      1.0  21.000000  2019.0      2.0
285      3.0  26.000000  2019.0      3.0
298      3.0  24.408340  2019.0      1.0
302      4.0  19.198956  2019.0      3.0
311      3.0  20.977186  2019.0      3.0
315      2.0  17.528159  2019.0      3.0